# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Chroma Database
chroma_db/

# Uploaded PDFs
uploaded_pdfs/

# Streamlit Cache
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store